:root{
   --gris: #58585b;
   --light-gris: #e8e7ea;
   --one-fr: calc(100vw / 5)
}

main h1>span{
   padding-top: .5rem;
}

.experience{
   display: flex;
   cursor: pointer;
}

.experience:hover{
   background-color: var(--light-gris);
   border: 4px outset var(--light-gris);
}

.experience .time{
   width: 10rem;
   background-color: var(--light-gris) ;
   text-align: center;
   padding: 0.3rem 0;
   font-size: 1.3rem;
}

.experience .details{
   flex: 1;
}

.experience .details h2:first-child {
   width: 18em;
   padding: 0.3rem 1em 0.3rem 0;
}

.experience h2, .experience h3{
   margin: .1rem 0;
   font-size: 1.3rem;
}

.collapse h2, .collapse h3{
   display: inline-block;
}

.collapse p{
   display: none;
}
.collapse li{
   display: none;
}

.experience li i{
   display: inline-block;
   width: 26em;
}

.experience.show:hover{
   border: 4px inset white;
}

.experience.show{
   border: 4px inset white;
   background-color: white;
}

h3 img{
   display: none;
}

.project.show .time{
   display: none;
}

.show h3, .show h2{
   display: inline-block;
}

.show h3 img{
   height: 1.2em;
   display: inline;
}

.project:hover h3 img{
   height: 1.2em;
   display: inline;
}

.show p, .show li{
   padding: 0 2em;
}